extends componentes_pug_login/head.pug
block body
	body.body
		img.img_logo(src="./logos/logo_yard_sale.svg", alt="")
		.form_contain
			form(action="")
				label.form_tittle(for="email") Email Address
					input.input(type="email", name="inputEmail" placeholder="email@gmail.com")  
				label.form_tittle(for="password") Password
					input.input(type="password" placeholder="**********")
				button.button_login Log in 
				button.label_forgot(for="forgot") Forgot my password
				button.button_signup Sign up 
		script(src="./script.js") 


