:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 99vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  padding-bottom: 0px;
}

.img_logo {
  margin-bottom: 50px;
  width: 70%;
  max-width: 250px;
}

.form_contain {
  width: 100%;
  max-width: 350px;
  padding: 20px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.form_tittle {
  width: 100%;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
}

.input {
  width: 100%;
  height: 40px;
  border-radius: 6px;
  border-color: transparent;
  background-color: #F7F7F7;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  color: #C7C7C7;
  display: block;
}
.input::-webkit-input-placeholder {
  color: #C7C7C7;
}
.input::-moz-placeholder {
  color: #C7C7C7;
}
.input:-ms-input-placeholder {
  color: #C7C7C7;
}
.input::-ms-input-placeholder {
  color: #C7C7C7;
}
.input::placeholder {
  color: #C7C7C7;
}

.button_login {
  margin-top: 30px;
  height: 60px;
  border-radius: 7px;
  background-color: #ACD9B2;
  border: none;
  font-size: 1.8rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  color: #FFFFFF;
}

.label_forgot {
  width: auto;
  margin: 20px;
  color: #ACD9B2;
  text-align: center;
  font-size: 1.4rem;
  background-color: transparent;
  border: none;
}

.button_signup {
  margin-top: 100px;
  height: 60px;
  border-radius: 7px;
  border-color: #ACD9B2;
  font-size: 1.8rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  color: #ACD9B2;
}