:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  height: 99vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  padding-bottom: 0px;
}

.img_logo {
  margin-bottom: 10px;
  width: 12%;
  max-width: 300px;
  min-width: 250px;
}

.tittle {
  margin-top: 70px;
  text-align: center;
}

.form_contain {
  width: 100%;
  max-width: 400px;
  padding-bottom: opx;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.tittle {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
}

.subtittle {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  text-align: center;
}

.password {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
}

label {
  margin-top: 25px;
}

.input {
  width: 100%;
  height: 40px;
  border-radius: 6px;
  border-color: transparent;
  background-color: #F7F7F7;
  padding-left: 10px;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  color: #C7C7C7;
  display: block;
}
.input::-webkit-input-placeholder {
  color: #C7C7C7;
}
.input::-moz-placeholder {
  color: #C7C7C7;
}
.input:-ms-input-placeholder {
  color: #C7C7C7;
}
.input::-ms-input-placeholder {
  color: #C7C7C7;
}
.input::placeholder {
  color: #C7C7C7;
}

.button_login {
  margin-top: 30px;
  height: 60px;
  border-radius: 7px;
  background-color: #ACD9B2;
  border: none;
  font-size: 1.8rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  color: #FFFFFF;
}

.label_forgot {
  width: auto;
  margin: 20px;
  color: #ACD9B2;
  text-align: center;
  font-size: 1.4rem;
  background-color: transparent;
  border: none;
}

.button_signup {
  margin-top: 100px;
  height: 60px;
  border-radius: 7px;
  border-color: #ACD9B2;
  font-size: 1.8rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  color: #ACD9B2;
}